<div class="slider-wrapper">
  Cebu is also known as Sugbu and was already a prosperous settlement before the Spaniards came in 1521. Consisting of the main island itself and 167 surrounding islands and islets. Cebu is a 1st provincial income class island province of the Philippines located in the Central Visayas region.
</div>
<div class="widget-wrapper">
  <div style="position: relative; height: 0; width: 100%; overflow: hidden; padding-top:28.57142857142857%;">
    <iframe src="//widgets-code.websta.me/wp/2e9e0c480d31?ck=MjAxNi0xMC0wNFQwNjo0OToxMi45MTla" class="websta-widgets" allowtransparency="true" frameborder="0" scrolling="no" style="position: absolute; top: 0; left: 0; width: 100%; height: 100%;"></iframe>
    <!-- WEBSTA WIDGETS - widgets.websta.me -->
  </div>
</div>
<div class="footer-wrapper">CebuTalks.com &copy; 2016 | Xanderdwyl</div>
