// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body {
  margin  : 0;
  padding : 0;
  font: 16px Menlo, "DejaVu Sans Mono", "Lucida Console", monospace;
}

.content-wrapper {
  padding: 50px;

  .slider-wrapper {
    min-height: 180px;
    font-size: 24px;
    line-height: 2em;
  }
  .widget-wrapper {
    margin: 0 auto;
  }
  .footer-wrapper {
    padding: 40px 0;
  }
}
